!!!xml
%jobs
  %job{:id => 1}
    %work nothing
    -# encode / cutting / concatenate / nothing
    %talk{:id => 580}
      %slug hs5_-_2011-08-21_16:30_-_open_source_sw_governance_in_an_industrial_environment_-_norbert_kraft_-_636
      %start 00:00:00
      %finished 11:22:33
      %speakers
        %speaker
          %name Peter Lustig
        %speaker
          %name Eucalyptus Dudelsack
    %recordings
      %recording
        %file 580.1.dv
        %start 00:00:00
        %end 11:22:33
      %recording
        %file 580.2.dv
    
